@model NCRSocialNetwork.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="image-slider-window">
	<img src="Content\Images\Image1.jpg" alt="" style="max-width:100%">
	<figure id="imagestrip">
		<img src="Content\Images\Image1.jpg" alt="">
		<img src="Content\Images\Image2.jpg" alt="">
		<img src="Content\Images\Image3.jpg" alt="">
		<img src="Content\Images\Image4.jpg" alt="">
		<img src="Content\Images\Image1.jpg" alt="">
	</figure>
</div>	

<br>

<ul>
	<li>@Html.ActionLink("Recent Events", "", "")</li>
	<li>@Html.ActionLink("+ Create New Event", "NewEvent", "Event")</li>
</ul>

				<!--Articles: Displays most happening events-->
<div id="articles-section">					
	@foreach (var Event in @Model.Event)
    {
        <article id="@Event.EventId" class="event">
		    <div id="event-image" class="event-image">
			    <img src="Content\Images\sports-logo.png" alt="" width="70em">
		    </div>
		    <div id="event-data" class="event-data">
			    <div class="event-content">
				    <p id="event_id_content">@Event.EventTitle</p>
			    </div>
			    <div class="event-operations">
				    @if (@Model.EventLikeDislike.Count(e => e.EventId == Event.EventId && e.UserId == 2) == 0)
                    {
                        @Ajax.ActionLink(
                                "Like",
                                "LikeEvent",
                                new
                                {
                                    EventId = Event.EventId,
                                    UserId = 2                                   
                                },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "like-dislike-" + Event.EventId,
                                    OnSuccess = "showeventlikeunlike("+Event.EventId+")"
                                },
                                new {@id="event_"+Event.EventId+"_like"}
                            )
                        @:
                        @Ajax.ActionLink(
                                "Dislike",
                                "DislikeEvent",
                                new
                                {
                                    EventId = Event.EventId,
                                    UserId = 2
                                },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "like-dislike-" + Event.EventId,
                                    OnSuccess = "showeventlikeunlike("+Event.EventId+")"
                                },
                                new {@id="event_"+Event.EventId+"_dislike"}
                            )
                        @Ajax.ActionLink(
                                "Unlike",
                                "UnlikeEvent",
                                new
                                {
                                    EventId = Event.EventId,
                                    UserId = 2
                                },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "like-dislike-" + Event.EventId,
                                    OnSuccess = "hideeventlikeunlike("+Event.EventId+")"
                                },
                                new {@id="event_"+Event.EventId+"_unlike", @Style ="display: none;"}
                            )
                    }
                    else
                    {
                         @Ajax.ActionLink(
                                "Like",
                                "LikeEvent",
                                new
                                {
                                    EventId = Event.EventId,
                                    UserId = 2,
                                    id = "myId" 
                                },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "like-dislike-" + Event.EventId,
                                    OnSuccess = "showeventlikeunlike("+Event.EventId+")"
                                },
                                new {@id="event_"+Event.EventId+"_like", @Style ="display: none;"}
                            )
				        @:
                        @Ajax.ActionLink(
                                "Dislike",
                                "DislikeEvent",
                                new
                                {
                                    EventId = Event.EventId,
                                    UserId = 2,
                                    id = "myId" 
                                },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "like-dislike-" + Event.EventId,
                                    OnSuccess = "showeventlikeunlike("+Event.EventId+")"
                                },
                                new {@id="event_"+Event.EventId+"_dislike", @Style ="display: none;"}
                            )
                        @Ajax.ActionLink(
                                "Unlike",
                                "UnlikeEvent",
                                new
                                {
                                    EventId = Event.EventId,
                                    UserId = 2,
                                    id = "myId" 
                                },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "like-dislike-" + Event.EventId,
                                    OnSuccess = "hideeventlikeunlike("+Event.EventId+")"
                                },
                                new {@id="event_"+Event.EventId+"_unlike"}
                            )
                       
                    }                    
				    <a href="#" onclick="showcomments(@Event.EventId)">Comment</a>
				    @Html.ActionLink("Go to this event page", @Event.EventId.ToString(), "Event/Details")
				    <p id="event_id_date_posted">Posted on 25th Dec 2013</p>							
			    </div>
                 
                <p id="like-dislike-@Event.EventId" class="like-dislike" hidden>                     
                    @Model.EventLikeDislike.Count(e => e.EventId == Event.EventId && e.EventLike == 1) like this event. @Model.EventLikeDislike.Count(e => e.EventId == Event.EventId && e.EventLike == 0) dislike this event.
                </p> 
                 
			    <div id="comments-@Event.EventId" class="event-comments" style="display: none;">	
                    <div id="event-comments-@Event.EventId" class="comments">
                        @foreach (var Comment in @Model.Comments)
                        {
                            if (Comment.EventId == @Event.EventId)
                            {
                                <div class="event-comment">
					                <img src="Content\Images\profile-picture_01.png" alt="" width="45em" height="45em">
					                <p>@Html.ActionLink(@Comment.User.UserFirstName + ":  ", "")@Comment.EventCommentDescription</p>
				                </div>
                            }
                        }
                    </div>
				    <div class="event-user-comment">	
					    <img src="Content\Images\profile-picture_07.png" alt="" width="45em" height="45em">
					    <div>
						    @using (Ajax.BeginForm(
                                "SubmitComment",
                                new
                                {
                                    UserId = 2,
                                    EventId = Event.EventId,
                                    UserName = "Murali"
                                },
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.InsertAfter,
                                    UpdateTargetId = "event-comments-" + Event.EventId,
                                    OnSuccess = "myonsuccess"
                                }))
                                { 
                                    <textarea name="UserComment" class="UserComment" placeholder="Your comment here"></textarea>
						            <input type="submit" value="Comment">
                                }
					    </div>
				    </div>
			    </div>
		    </div>
	    </article>	
 }
</div>

@section Aside{
    <section id="profile_section">
		<img src='@Url.Content("~/Content/Images/profile-picture_07.png")' alt="" width = "60%">	
		<article id="profile_data">
			<p><b>Name:</b> Murali Krishna Valluri</p>
			<p><b>Job Role:</b> Intern, Programmer</p>
			<p><b>Team:</b> CRM</p>
			<p><b>Mobile No:</b> +91 9581493307</p>
			<p><b>Email ID:</b> mv250132@ncr.com</p>
			<p><b>Hobbies:</b> Programming, Photoshop</p>
			<p><b>Technologies:</b> C#, PHP, HTML5, CSS3</p>	
		</article>
		<h3>Clubs</h3>
		<article class="article_data">
            @foreach (var Club in @Model.Club)
            {
                @Html.ActionLink(@Club.ClubName, @Club.ClubName, "Clubs")
            }
		</article>
		<h3>Events</h3>
		<article class="article_data">
            @foreach (var Event in @Model.Event)
            {
                @Html.ActionLink(@Event.EventTitle, @Event.EventId.ToString(), "Event/Details")
            }
		</article>
	</section>
}

