@model NCRSocialNetwork.Models.Event

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Event</legend>

        @Html.HiddenFor(model => model.EventId)

        <div class="editor-label">
            @Html.LabelFor(model => model.EventTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventTitle)
            @Html.ValidationMessageFor(model => model.EventTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClubId, "Club")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClubId", String.Empty)
            @Html.ValidationMessageFor(model => model.ClubId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventDescription)
            @Html.ValidationMessageFor(model => model.EventDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventLikes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventLikes)
            @Html.ValidationMessageFor(model => model.EventLikes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventDislikes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventDislikes)
            @Html.ValidationMessageFor(model => model.EventDislikes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventVenue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventVenue)
            @Html.ValidationMessageFor(model => model.EventVenue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventDate)
            @Html.ValidationMessageFor(model => model.EventDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
